mixin nav
  a(href="/about") About
  a(href="/supporters") Supporters
  a(href="/updates") Updates
  a.primary(href="/get-involved") Get Involved

mixin comments(threadUrls)
  hr
  h2 Join the conversation
  if threadUrls
    div.threads(style="display: flex")
      span on:
      if threadUrls.twitter
        a.twitter(href=threadUrls.twitter, target="_blank") Twitter/X
      if threadUrls.hn
        a.hn(href=threadUrls.hn, target="_blank") HackerNews
      if threadUrls.reddit
        a.reddit(href=threadUrls.reddit, target="_blank") Reddit
    p.legal These links will take you from this website to a 3rd-party website and we take no responsibility for any content displayed on that site or how they use your data. They may use cookies to deliver their services in accordance with their Cookie Policies.
  script(src="https://cdn.commento.io/js/commento.js", data-no-fonts, defer)
  div#commento
  p.legal These comments are provided by a 3rd-party service, Commento Inc. and we take no responsibility for any content displayed. They may use cookies or your data to deliver their services in accordance with their #[a(href="https://commento.io/legal", target="_blank") Terms of Service and Policies].

mixin reddit(link)
  div.redditembed
    script(async, src="https://embed.reddit.com/widgets.js")
    blockquote.reddit-embed-bq(data-embed-height=316, data-embed-theme="light", style="height:316px")
      a(href=link) Content on Reddit.com
    noscript Please enable javascript to view embedded content, or view the #[a(href=link, target="_blank") content directly on reddit.com]
    p.legal This content will take you from this website to the Reddit website and we take no responsibility for any content displayed on that site or how they use your data. Reddit may use cookies to deliver their services in accordance with their Cookie Policy.

doctype html
html(lang="en")
  head
    title AIMO Prize
    link(rel="icon", href="/favicon.png")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="description", content="XTX Markets is launching a new $10mn challenge fund, the Artificial Intelligence Mathematical Olympiad Prize (AIMO Prize). The fund intends to spur the development of AI models that can reason mathematically, leading to the creation of a publicly-shared AI model capable of winning a gold medal in the International Mathematical Olympiad (IMO).")
    meta(property="og:image", itemprop="image", content="https://aimoprize.com/banner-sq.png")
    meta(property="og:image:type", content="image/png")
    meta(property="og:image:width", content="300")
    meta(property="og:image:height", content="300")
    meta(property="og:image", itemprop="image", content="https://aimoprize.com/banner.png")
    meta(property="og:image:type", content="image/png")
    meta(property="og:image:width", content="1200")
    meta(property="og:image:height", content="600")

    meta(property="og:title", content="AIMO Prize")
    meta(property="og:type", content="website")
    meta(property="twitter:card", content="summary_large_image")
    meta(property="twitter:creator", content="@aimoprize")
    meta(property="og:description", content="XTX Markets is launching a new $10mn challenge fund, the Artificial Intelligence Mathematical Olympiad Prize (AIMO Prize). The fund intends to spur the development of AI models that can reason mathematically, leading to the creation of a publicly-shared AI model capable of winning a gold medal in the International Mathematical Olympiad (IMO).")
    meta(property="og:site_name", content="AIMO Prize")
    style
      include ./style.css
    script(src="/turbolinks.js", defer)
  body
    div.bg(id="bg", data-turbolinks-permanent)
      script(data-turbolinks-eval="false").
        const tileSz = 60;
        const circleSz = 42;
        const bg = document.querySelector('.bg');

        function animate(){
          for(let i=0; i<window.innerWidth/400; i++){
            let rect  = bg.getBoundingClientRect();
            let x = Math.floor(Math.random()*(rect.width/tileSz))*tileSz;
            let y = Math.floor(Math.random()*(rect.height/tileSz))*tileSz;
            place(x,y);
          }
          setTimeout(animate, 4000);
        }

        function place(x, y){
          let el = document.createElement('div');
          let col = '#6ca2ad';
          el.setAttribute('style', `width: ${circleSz}px; height: ${circleSz}px; left:${x}px; top:${y}px; border-radius:100%; background:#6ca2ad; position:absolute; opacity:0; transition:opacity 500ms linear`);
          bg.appendChild(el);
          setTimeout(() => {
            el.style.opacity = .2 + Math.random();
          },100);
          setTimeout(() => {
            el.style.opacity = 0;
            setTimeout(() => {
              bg.removeChild(el);
            }, 1000);
          }, 15000);
        }

        animate();

    div.content
      header
        div.cell
        a.logo(href="/", title="AIMO Prize Homepage")
          img(src="/logo-dark.png", width=260)
        div.cell.nav-desktop
          +nav
        details.cell.nav-mobile
          summary(title="Menu") ☰
          .nav 
            +nav
      block content
      div.footer
        include:markdown-it ../content/footer.md